$neon-blue: #45d6ff;
$charcoal-gray: #202020;
$font-color: #dcdcdc;
$blood-orange: #ff8400;
$orange: #ff8400;
$red: green;

$anim-color-0: $orange;
$anim-color-50: $neon-blue;
$anim-color-100: $blood-orange;

#rubyjs-developer {
    -webkit-animation: color-change 3s infinite alternate;
    -moz-animation: color-change 3s infinite alternate;
    -o-animation: color-change 3s infinite alternate;
    -ms-animation: color-change 3s infinite alternate;
    animation: color-change 3s infinite alternate;
}

@-webkit-keyframes color-change {
    0% { color: $anim-color-0; }
    50% { color: $anim-color-50; }
    100% { color: $anim-color-100; }
}
@-moz-keyframes color-change {
    0% { color: $anim-color-0; }
    50% { color: $anim-color-50; }
    100% { color: $anim-color-100; }
}
@-ms-keyframes color-change {
    0% { color: $anim-color-0; }
    50% { color: $anim-color-50; }
    100% { color: $anim-color-100; }
}
@-o-keyframes color-change {
    0% { color: $anim-color-0; }
    50% { color: $anim-color-50; }
    100% { color: $anim-color-100; }
}
@keyframes color-change {
    0% { color: $anim-color-0; }
    50% { color: $anim-color-50; }
    100% { color: $anim-color-100; }
}
