.archived-post {
  .date-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    max-width: 460px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
  }

}
