.container {
    &.centered {}
    &.page-index {
        margin: 0 auto;
        text-align: center;
    }

    &.page-about {

    }

    &.page-contact {

    }

    &.page-bagel {
        margin: 0 auto;
        text-align: center;
    }
}